<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Información Principal</a></li>
    <li><a href="#tabs-2">Datos de Seguridad</a></li>
    <li><a href="#tabs-3">Otra información</a></li>
  </ul>

  <fieldset>

    <legend>Entre datos del Usuario</legend>
  
    <div id="tabs-1">
        <div class="userapila">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre %>
      </div>
      <div class="userapila">
        <%= f.label :apellido %><br>
        <%= f.text_field :apellido %>
      </div>
      <div class="usersolo">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
    </div>

    <div id="tabs-2">
      <div class="userapila">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>
      <div class="userapila">
        <%= f.label 'Confirma password' %><br>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="userapila">
        <%= f.label 'Vencimiento password' %><br>
        <%= f.text_field :fvctopass %>
      </div>
      <div style="clear: left;">
        <%= f.label 'Perfil' %><br>
        <%= f.text_field :profile %>
      </div>
    </div>

    <div id="tabs-3">
      <div class="userapila">
        <%= f.label :origen %><br>
        <%= f.text_field :origen %>
      </div>
      <div class="userapila">
        <%= f.label 'Teléfono' %><br>
        <%= f.text_field :telefono %>
      </div>
      <div class="userapila">
        <%= f.label :timezone %><br>
        <%= f.number_field :timezone %>
      </div>
      <div class="usersolo">
        <%= f.label 'Imagen del Usuario' %><br>
        <%= f.file_field :photofile %>
      </div>
    </div>
</div>
<div class="actions">
  <%= f.submit %>
</div>

  </fieldset>

<% end %>


<script>
  $(function() {
    $( "#user_fvctopass" ).datepicker({ dateFormat: "dd-mm-yy" });
    $( "#tabs" ).tabs();
  });
</script>