<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>

  <legend>Entre datos del Usuario</legend>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :fvctopass %><br>
    <%= f.datetime_select :fvctopass %>
  </div>
  <div class="field">
    <%= f.label :origen %><br>
    <%= f.text_field :origen %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :timezone %><br>
    <%= f.number_field :timezone %>
  </div>
  <div class="field">
    <%= f.label :photofile %><br>
    <%= f.text_field :photofile %>
  </div>
  <div class="field">
    <%= f.label :profile %><br>
    <%= f.text_field :profile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

</fieldset>
<% end %>
