<h1>Lista de Usuarios</h1>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th style="width: 70px;">Photofile</th>
      <th style="width: 100px;">Apellido</th>
      <th style="width: 100px;">Nombre</th>
      <th style="width: 160px;">Email</th>
      <th style="width: 100px;">Dirección</th>
      <th style="width: 80px;">Teléfono</th>
      <th style="width: 60px;">Timezone</th>
      <th style="width: 120px;">Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="text-align:center;"><%= image_tag(user.photofile, :size=>"60x60") %></td>
        <td><%= user.apellido %></td>
        <td><%= user.nombre %></td>
        <td><%= user.email %></td>
        <td><%= user.origen %></td>
        <td><%= user.telefono %></td>
        <td><%= user.timezone %></td>
        <td><%= user.profile %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
